.footer-container{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 170px;
    background-image: linear-gradient(to right top, #0c1420, #07172e, #021a3b, #001c49, #031d56);
}

.social-meida{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
flex: 1;
}

.linkedin-icon{
    width: 40px;
    margin-bottom: 30px;
}

.map-content{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.my-email{
    color: rgb(235, 229, 229);
}

.map-location{
    width: 100%;
}

.my-logo-footer{
    width: 80px;
}

.footer-logo{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}