.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 90px;
    padding: 0 50px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    background-image: linear-gradient(to right top, #0c1420, #07172e, #021a3b, #001c49, #031d56);
}

.header-my-logo{
    width: 60px;
}

.header a{
    text-decoration: none;
    color: white;
}
